{% extends 'base.html.twig' %}

{% block body %}
	
	<div class="box box-info">  
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <div class="form-group">
                {{ form_row(form.tipo_persona) }}
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <label for="select" class="control-label">Evento</label>
              <select class="form-control" id="evento" name="evento">
                <option value="">Seleccionar</option>
              </select>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title" id="content-title">--</h3>
    </div>
    <form name="content-form" id="content-form"  method="POST" action="{{path('sav_asistencia')}}">
      <div class="panel-body" id="content-table">

        Sin resultados
      </div>
      <div class="panel-footer">
        <button type="button" id="guardar" name="guardar" class="btn btn-primary">Guardar</button>
      </div>
    </form>
  </div>
	
{% endblock %}

{% block codeScript %}
<script type="text/javascript">

  $(document).ready(function(){

    var tipo_persona = $('#asistencia_evento_tipo_persona');
    var evento = $('#evento');

    evento.attr("disabled","disabled");

    tipo_persona.on("change", function(){

        getEvento();
        listaPersona();
    });

    getEvento = function(){

      evento.attr("disabled","disabled");

      $.ajax({
        url:'{{path("get_evento")}}',
        type:'GET',
        data:{'tipo':tipo_persona.val()},
        success: function(data){
          var option = '<option value="">Seleccionar</option>';
          for (var i = 0; i < data.length; i++) {
            option += '<option value="'+data[i].id+'">'+data[i].nombre+'</option>';
          }

          evento.html(option);

          evento.removeAttr("disabled");
        }
      });
    }

    addHtmlPersona = function(data){

      var html = '<table class="table table-bordered table-condensed">';

      html+='<tr>';
          html+='<th>Nombre</th>';
          html+='<th>Asistio</th>';
      html+='<tr>';

      for(var i=0;i<data.length;i++){
        html+='<tr>';
          html+='<td>'+data[i].nombre+'</td>';
          html+='<td><input type="checkbox" name="persona_'+data[i].id+'" id="persona_'+data[i].id+'"></td>';
        html+='<tr>';
      }

      html+= '</table>';

      $('#content-table').html(html);
    }

    listaPersona = function(){

      if (tipo_persona.val()!='') {
        $('#content-title').html('Listado - '+tipo_persona.val());

        //ajax
        $.ajax({
          type:"GET",
          url: "{{path('listado_persona')}}",
          data: {tipo:tipo_persona.val()},
          success: function(data){
            addHtmlPersona(data);
          }
        });

      }else{
        $('#content-title').html('--');
        $('#content-table').html('Sin resultados');
      }
    }

    $('#guardar').on("click", function(){
      
    });

  });

</script>
{% endblock %}