{% extends 'base.html.twig' %}

{% block body %}
    
    <p>
        <a href="{{ path('cargo_new') }}" class="btn btn-primary"><i class="fa fa-plus-square fa-lg" aria-hidden="true"></i>&nbsp;Nuevo</a>
    </p>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Activo</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cargo in cargos %}
            <tr>
                <td>{{ cargo.nombre }}</td>
                <td>{% if cargo.estado %}SI{% else %}NO{% endif %}</td>
                <td>
                    <a href="{{ path('cargo_edit', { 'id': cargo.id }) }}" title="Editar Cargo">
                      <i class="fa fa-pencil-square-o fa-2x"></i>
                    </a>&nbsp;&nbsp;
                    <a href="{{ path('cargo_show', { 'id': cargo.id }) }}" title="Ver Cargo">
                        <i class="fa fa-eye fa-2x" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
