{% extends 'base.html.twig' %}

{% block body %}
<a href="{{ path('cajabanco_new') }}" class="btn btn-primary">Nuevo</a>
<br><br>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Caja/Banco</th>
            <th>Nombre</th>
            <th align="center">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for cajaBanco in cajaBancos %}
        <tr>
            <td>
                {%if cajaBanco.cajabanco==1%}Banco{%else%}Caja{%endif%}
            </td>
            <td>{{ cajaBanco.nombre }}</td>
            <td align="center">
                <a href="{{ path('cajabanco_edit', { 'id': cajaBanco.id }) }}" title="Editar" class="color-blue">
                    <i class="ace-icon fa fa-pencil-square-o bigger-200"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
