{% extends 'base.html.twig' %}
{% block body %}
<h1 class="aling-center color-orange">BIENVENIDOS A</h1>
<div class="aling-center"><label class="color-green" style="font-size: 20px">SISCI:</label> <label class="color-yellow" style="font-size: 20px">SISTEMA DE CONTROL DE INFORMACION</label></h2></div>
{% endblock %}