{% extends 'base.html.twig' %}

{% block body %}
<form class="form-horizontal" name="form_changepassword" id="form_changepassword" method="POST" action="{{path('acceso_update_password', { 'id': id})}}">
    
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" id="password" name="password"  placeholder="Contraseña" autocomplete="false" required="required">
    </div>
    <br>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password"  placeholder="Vuelva a escribir la contraseña" autocomplete="false" required="required">
    </div>
    <br>
    <div class="input-group">
        <button type="submit" class="btn btn-block btn-danger btn-md">Actualizar</button>
    </div>
</form>

{% endblock %}

{% block codeScript %}
<script type="text/javascript">

    $('#usuario, #password').on("keyup", function(e){
        if(e.keyCode == 13)
        {
            $("#form_login").submit();
        }
    });

</script>
{% endblock %}